.replay {
  &__backdrop {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    position: fixed;
    background-color: rgba($color-dark, 0.7);
  }

  &__wrapper {
    max-width: 600px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 0 20px 0;
    background-color: $color-white;
  }
}