.navbar {
  padding: 10px;
  margin-bottom: 15px;
  background-color: var(--color__secondary);

  .router-link {
    margin-left: 5px;
    padding: 4px 8px;
    border-radius: 2px;
    color: var(--color__white);
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid;
    border-bottom: none;

    &:focus,
    &:hover,
    &-exact-active {
      color: var(--color__secondary);
      background-color: var(--color__white);
    }

    &:first-child {
      margin-left: 0;
    }
  }
}