.bounce {
  &-enter-active {
    animation: bounce-in .5s;
  }

  &-leave-active {
    animation: bounce-in .5s reverse;
  }
}

.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity .6s;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}