.btn {
  font-size: 1rem;
  padding: 6px 10px;
  border-radius: 2px;
  color: $color-white;
  outline: none;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;

  &[disabled="disabled"] {
    opacity: 0.8;
    cursor: not-allowed;
  }

  &--primary {
    @include border-background($primary-color)
  }

  &--secondary {
    @include border-background($secondary-color)
  }
}