.btn {
  font-size: 1rem;
  padding: 6px 10px;
  border-radius: 2px;
  color: var(--color__white);
  outline: none;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;

  &[disabled="disabled"] {
    opacity: 0.8;
    cursor: not-allowed;
  }

  &--small {
    padding: 3px 6px;
  }

  &--primary,
  &--error {
    @include border-background(var(--color__primary));
  }

  &--secondary {
    @include border-background(var(--color__secondary));
  }

  &--golden {
    color: var(--color__dark);
    @include border-background(var(--color__golden));

    &:hover {
      &::after {
        content: '';
        color: var(--color__primary);
      }
    }
  }
}