:root { 
  --color__dark: #000000;
  --color__white: #FFFFFF;
  --color__primary: #E74C3C;
  --color__secondary: #4B7BEC;
  --color__golden: #FFD700;

  // Form
  --color__form-border: #E0E0E0;
  --color__form-placeholder: #D0D0D0;

  // Cell
  --color__cell-bg: var(--color__white);
  --color__cell-border: #EEEEEE;
}